

.principal {
    border-radius: 10px;
    
}



.perfume {
    font-weight: 100;
    font-size: small;
    color:black;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.texto {
   background-color: aliceblue;
   font-weight: 100;
   font-size: medium;
   color: dimgray;
   font-family: 'Montserrat', sans-serif;
   padding: 1em;
   padding-top: 0px;
   
}

.titulo {
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: black;
    
}

.preco1{
    color:darkgreen;
    font-family: 'Fraunces', serif;
    font-size: xx-large;

}

.botao {
    background-color: darkgreen;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    width: 17em;
    height: 3em;
    font-size: medium;
    
}

/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; /*